asgiref==3.8.1
bandit==1.8.5
coverage==7.9.1
Django==4.2.11
django-browser-reload==1.18.0
django-tailwind==3.4.0
markdown-it-py==3.0.0
mdurl==0.1.2
pbr==6.1.1
Pygments==2.19.2
python-dotenv==1.1.1
PyYAML==6.0.2
rich==14.0.0
sqlparse==0.5.3
stevedore==5.4.1
typing_extensions==4.14.0
