{% extends "base.html" %}
{% block sidebar %}
  <div class="sidebar-menu">
    <h2>Menu</h2>
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <a href="{% url 'my_budgets' %}">Budgets</a>
    <a href="{% url 'add_transaction' %}">Add Transaction</a>
    <a href="{% url 'admin_only_page' %}">Admin Panel</a>
    <a href="{% url 'logout' %}">Logout</a>
  </div>
{% endblock %}

{% block content %}
<div class="container fade-in" style="max-width: 500px;">
  <h2 class="mb-4">Create an Account</h2>
  <form method="post" class="card p-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn mt-3 w-100">Sign Up</button>
  </form>
</div>
{% endblock %}
